#เปลี่ยนได้
PORT=8789
SET_SCHEDULE=            #จำนวนนาที่จะให้ทำงานอัตโนมัติ เช่น 60 = ทุก 1 ชั่วโมง
#ที่ copy มาจากหน้า web
CLIENT_ID=
SECRET_KEY=

# Database — mysql
DB_TYPE=mysql
DB_HOST=
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
#mysql → utf8mb4/tis620
DB_CHARSET=utf8mb4
